/* Общие */

* {
    box-sizing: border-box;
}

:root {
    --main-color: #0ea5e9;
    --secondary-color: #0284c7;
    --white: white;
    --background-gray: #f5f5f5;
    --light-gray: #e5e5e5;
    --gray: #d4d4d4;
    --dark-gray: #737373;
    --imput-text-grey: #404040;
    --text: #171717;
    --indent: 20px;
    --indent-input: 30px;
    --shadow: rgba(0, 0, 0, 0.25);
    --mar-form-input: 8px;
}


ul, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', sans-serif;
    color:var(--text);
}

h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text); 
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.3;
    color: var(--text);
}

label {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    color: var(--imput-text-grey);
}


.background-form {
    background-color: #f5f5f5;
}

.section-container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
}

.decorative-form {
    border-radius: 10px;
    box-shadow: 0px 10px 30px var(--shadow);
    overflow: hidden; /* Обрезает лишнее у контента! */
}

.container-form {
    display: flex;
}

.container-image {
    width: 100%;
    /* background-image: url(/images/mountains-2.jpg);
    background-size: cover; */
}

.image {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.form-data {
    background-color: var(--white);
    padding: 40px 40px;
}

.header-form {
    font-size: 26px;
    font-weight: 600;
    color: var(--secondary-color);
    padding-bottom: 30px;
}

.indent-input {
    padding-bottom: var(--indent-input);
    border-bottom: 1px solid var(--light-gray);
}

.list-name {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    flex-grow: 1;
}

.input-item-name {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc((100% - var(--indent)*1)/2);
}

.form-input {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: var(--mar-form-input);
}

.header-adress {
    padding: var(--indent-input) 0;
}

.list-adress {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    flex-grow: 1;
    padding-bottom: var(--indent);
}

.input-item-adress {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc((100% - var(--indent)*2)/3);
}

.input-item-delivery {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100%/1);
}

.btn-form {
    background-color: var(--main-color);
    font-size: 16px;
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}